.quotes-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 50px;
  margin-top: 50px;
}

.quotes-block__quote {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quotes-block__quote:nth-child(even) {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.quote__img {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 300px;
  border-radius: 5px;
  
}

.quote__text {
  width: 50%;
  font-size: 24px;
}
.quete__text_author {
  font-weight: 800;
  font-size: 24px;
  text-align: right;
}



@media screen and (max-width:950px) {
  .quote__text {
  font-size: 20px;
  width: 100%;
}
.quete__text_author {
  font-size: 20px;

}

.quote__img {
  margin:0 30px;
  
}

}

@media screen and (max-width:700px){
  .quote__img {
  width: 90%;
}
}