.label{
    color: #fff;
}

.form{
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-top: 20px;
}

.submit-wrapper{
    align-self: flex-end;
}

.page-content{
    width: 70%;
}